@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Cabin:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
  background-color: #535353;
  font-family: 'Archivo', sans-serif;
}

.container {
    padding: 30px 30px;
    width: 100%;
    max-width: 500px;  
    height: auto;
    background-color: #FCFCFC;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

.container p {
    margin-bottom: 10px;
    font-size: 1.25rem; 
    font-weight: 700;
}

input::placeholder {
    font-family: 'Archivo', sans-serif;
}

.container input {
    border: 1px solid black;
    width: 100%;
    padding: 10px 20px;
    height: 40px;
    border-radius: 5px;
    outline: none;
    margin-top: 20px;
}

.generateBtn {
    font-family: 'Archivo', sans-serif;
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    border-radius: 5px;
    border: none;
    background-color: #a55dfc;
    color: #fff;
    cursor: pointer;
}

#imgBox {
    width: 100%;        
    height: auto;      
    margin-top: 20px;   
    display: flex;      
    justify-content: center; 
    align-items: center;     
    border-radius: 5px;
}

#qrImage {
    max-width: 100%;    
    height: auto;       
}

/* Responsive styles */
@media (max-width: 768px) {
    .container {
        width: 90%;  
        padding: 20px;  /
    }

    .container p {
        font-size: 1.125rem;  
    }

    .generateBtn {
        padding: 10px;
        font-size: 1rem;
    }

    #imgBox {
        margin-top: 15px;
    }
}

@media (max-width: 480px) {
    .container {
        width: 95%;  
        padding: 15px;  
    }

    .container p {
        font-size: 1rem;  
    }

    .generateBtn {
        padding: 8px;
        font-size: 0.9rem;
    }

    #imgBox {
        margin-top: 10px;  
    }
}
